<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChoxSu | Web Developer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../css/plugins/widget.css"/>
    <link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css'
          type='text/css' media='all'/>
    <link rel='stylesheet' href='../../css/style.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="../../css/plugins/pretty.css"/>
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../js/html5shiv.js"></script>
    <![endif]-->

</head>

<body class="home blog">
<div class="container site-page">

    <div class="row">
        <div class="col-sm-3 site-infos">
            <div class="site-avator"></div>
            <h1 class="site-title">
                <a href="http://b.styg.site/" title="ChoxSu" rel="home">ChoxSu</a>
            </h1>
            <div class="site-description">Web Developer</div>

            <nav class="main-navigation" role="navigation">
                <div class="menu-primary-container">
                    <ul id="menu-primary" class="menu menu-level-1">
                        <li id="menu-item-11" class="menu-item item-level-1 current-path">
                            <a href="/">首页</a>
                        </li>
                        <li id="menu-item-15" class="menu-item item-level-1">
                            <a href="/notes/">笔记</a>
                        </li>
                        <li id="menu-item-16" class="menu-item item-level-1">
                            <a href="/articles/">搜藏</a>
                        </li>
                        <li id="menu-item-17" class="menu-item item-level-1">
                            <a href="/snippets/">代码</a>
                        </li>
                        <li id="menu-item-168" class="menu-item item-level-1">
                            <a href="/about/">关于</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- #site-navigation -->

            <div class="search">
                <form role="search" method="get" class="search-form" action="/">
                    <label>
                        <span class="screen-reader-text">搜索：</span>
                        <input type="search" class="search-field" placeholder="搜索&hellip;" value="" name="s"/>
                    </label>
                    <input type="submit" class="search-submit" value="搜索"/>
                </form>
            </div>
            <div class="tags">
                #for(r : tags)
                #if(r.name == "JAVA" || r.name == "Jfinal" )
                <a href='/tags/#(r.id)' class='tag-link-#(for.index + 20) tag-link-position-#(for.index)' title='0个话题'
                   style="font-size: 18px;">#(r.name)</a>
                #else
                <a href='/tags/#(r.id)' class='tag-link-#(for.index) tag-link-position-#(for.index)' title='0个话题'
                   style="font-size: 14px;">#(r.name)</a>
                #end
                #end
            </div>
        </div>

        <div class="col-sm-9 site-main">
            <!-- .entry-header -->
            #for(r : blogs.list)
            <article id="post-62"
                     class="post-62 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-notes tag-hadoop">
                <header class="entry-header">
                    <h2 class="entry-title"><a href="/to-blog/detail/#(r.id)" rel="bookmark">#(r.title)</a></h2>
                </header>

                <div class="entry-content">
                    <div class="row">
                        <div class="entry-preview col-md-12">
                            #(r.content)
                        </div>
                    </div>
                </div>

                <footer class="entry-footer">
                    <div class="entry-meta">
                        <i class="fa fa-calendar"></i>
                        <time datetime="#date(r.createAt, 'yyyy-MM-dd HH:mm')">#date(r.createAt, "yyyy-MM-dd HH:mm")
                        </time>
                        <span class="cats">
									<i class="fa fa-folder-open-o"></i>
									<a href="/notes" rel="category tag">#(r.category)</a>
								</span>

                        <span class="tags">
									<i class="fa fa-tags"></i>
									<a href="/tag/#(r.tagId)" rel="tag">#(r.tagName)</a>
								</span>

                        <span class="comments">
									<i class="fa fa-eye"></i>
									<b>#(r.clickCount)</b>
								</span>
                    </div>
                    <!-- .entry-meta -->
                </footer>
            </article>
            #end
            <!-- #post-## -->

            <nav class="navigation paging-navigation" role="navigation">
                <div class='wp-pagenavi'>
                    <a class="first" href="">« 最新</a>
                    <a class="nextpostslink" rel="next" href="">«</a>
                    <span class='extend'>...</span>
                    <a class="page larger" href="">3</a>
                    <a class="page larger" href="">4</a>
                    <a class="page larger" href="">5</a>
                    <span class='extend'>...</span>
                    <a class="nextpostslink" rel="next" href="">»</a>
                    <a class="last" href="">最旧 »</a>
                </div>
            </nav>
            <!-- .navigation -->
        </div>
    </div>
    <!-- .row -->

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 site-footer">
            &copy; 2018
            <a href="http://www.styg.site">ChoxSu</a>
        </div>
    </div>
</div>
<!-- .container -->
<script type="text/javascript" src="../../js/prettify.js"></script>
<script type="text/javascript" src="../../js/power.js"></script>
<script type="text/javascript" src="../../js/wp-embed.min.js"></script>
</body>

</html>