#set(seoTitle="ChoxSu | Tag | search")
#@layout()
#define main()
<header class="archive-header">
    <h1 class="archive-title">
        SEARCH
        <small>搜索【#(keyword)】相关的内容</small>
    </h1>
</header>
#for(r : result.list)
<article id="post-62"
         class="post-62 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-notes tag-hadoop">
    <header class="entry-header">
        <h2 class="entry-title"><a href="/#(r.category)/detail/#(r.id)" rel="bookmark">#(r.title)</a></h2>
    </header>

    <div class="entry-content">
        <div class="row">
            <div class="entry-preview col-md-12">
                #(r.content)
            </div>
        </div>
    </div>

    <footer class="entry-footer">
        <div class="entry-meta">
            <i class="fa fa-calendar"></i>
            <time datetime="#date(r.createAt, 'yyyy-MM-dd HH:mm')">#date(r.createAt, "yyyy-MM-dd HH:mm")
            </time>
            <span class="cats">
                <i class="fa fa-folder-open-o"></i>
                <a href="/#(r.category)/" rel="category tag">#(r.category)</a>
            </span>

            <span class="tags">
                <i class="fa fa-tags"></i>
                <a href="/tag/#(r.tagId)" rel="tag">#(r.tagName)</a>
            </span>

            <span class="comments">
                <i class="fa fa-eye"></i>
                <b>#(r.clickCount)</b>
            </span>
            <span class="cats"><a href="/#(r.category)/detail/#(r.id)">阅读全部</a></span>
        </div>
        <!-- .entry-meta -->
    </footer>
</article>
#else
<article
        class="post-62 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-notes tag-hadoop">
    <div style="font-size: 18px;">
        Not any information was search
    </div>
</article>
#end
<!-- #post-## -->
<!-- 分页 -->
#@paginate(result.pageNumber, result.totalPage, "/search?keyword="+keyword+"&p=")

#end