html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}


a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

@-webkit-keyframes fluidboxLoading {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
        transform: translate(-50%, -50%) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
        transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0)
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
        transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg)
    }
}

@keyframes fluidboxLoading {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
        transform: translate(-50%, -50%) rotateX(0) rotateY(0)
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
        transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0)
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
        transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg)
    }
}

/* 头部 */
.header {
    background-color: #f8f9fa;
    z-index: 100;
}


@media (min-width: 576px) {
    .header .header-nav {
        width: 510px;
    }
}

@media (min-width: 768px) {
    .header .header-nav {
        width: 690px;
    }
}

@media (min-width: 992px) {
    .header .header-nav {
        width: 930px;
    }
}

@media (min-width: 1200px) {
    .header .header-nav {
        width: 1110px;
    }
}


.header .header-logo {
    display: inline-block;
    font-family: cormorant garamond, Courier, serif;
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-decoration: none
}

.header .header-links {
    padding: 0;
    list-style: none;
    display: inline;
    text-align: right;
}

.header .gitee {
    position: relative;
    top: 2px;
}

.header .navbar {
    padding: 0;
    height: 3rem;
}

.header .search {
    margin-right: 10px;
}

.header .header-links li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle
}

.header .header-links li:first-child {
    margin-left: 0
}

.header .header-links li a {
    font-size: 18px;
    color: #393636;
    text-decoration: none;
}

.header .header-links li a svg {
    width: 16px;
    height: 16px;
    fill: #393636
}

.header .header-links li a img {
    width: 16px;
    height: 16px;
    fill: #393636;
    margin-top: -4px;
}


.header .header-links li a:hover svg {
    fill: #121111
}

/* main start */
.main {
    margin: 0 auto;
    min-height: 100%;
    padding: 10px 8px 120px;
}

.main .main-right {
    width: 100%;
}

/* main end */

@media all and (max-width: 520px) {
    .header {
        height: 88px;
    }

    .header .header-nav {
        text-align: center
    }

    .header .header-links {
        display: block;
        float: none;
        text-align: center
    }

    .header .header-links li {
        margin: 0 10px
    }

    .header .header-links li:last-child {
        margin-right: 0
    }

}
/* 导航栏 响应式 代码 begin */
@media all and (max-width: 768px) {
    .header .search {
        display: none;
    }
}

@media all and (max-width: 577px) {
    .header .mr-auto {
        margin-right: 0 !important;
    }
}
/* 导航栏 响应式 代码 end */

a {
    color: #615b5b;
    text-decoration: underline;
    -webkit-transition: color .2s linear;
    transition: color .2s linear
}

a:hover, a:active {
    color: #393636
}

a:focus {
    color: #393636;
    outline: none
}

.footer {
    display: block;
    padding-top: 35px;
    margin-bottom: 85px;
}

.footer p {
    font-size: 15px;
    color: #ada8a8
}

.footer a {
    text-decoration: none
}

.return-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 100px;
    cursor: pointer;
}

.return-top img {
    width: 30px;
    height: 30px;
    border: 1px solid #91c1bf;
    border-radius: 4px;
    background: #fff;
    opacity: .8
}
