#set(seoTitle="ChoxSu博客社区")
#@layout()
#define main()
<header class="archive-header">
	<h1 class="archive-title">
		BLOG<small>记录好东西，便于分享</small>
	</h1>
</header>
#for(r : blogs.list)
<article id="post-62"
		 class="post-62 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-notes tag-hadoop">
	<header class="entry-header">
		<h2 class="entry-title"><a href="/blog/detail/#(r.id)" rel="bookmark">#(r.title)</a></h2>
	</header>

	<div class="entry-content">
		<div class="row">
			<div class="entry-preview col-md-12">
				#(r.content)
			</div>
		</div>
	</div>

	<footer class="entry-footer">
		<div class="entry-meta">
			<i class="fa fa-calendar"></i>
			<time datetime="#date(r.createAt, 'yyyy-MM-dd HH:mm')">#date(r.createAt, "yyyy-MM-dd HH:mm")
			</time>
			<span class="cats">
                    <i class="fa fa-folder-open-o"></i>
                    <a href="javascript:void(0);" rel="category tag">#(r.category)</a>
                </span>

			<span class="tags">
                    <i class="fa fa-tags"></i>
                    <a href="/tag/#(r.tagId)" rel="tag">#(r.tagName)</a>
                </span>

			<span class="comments">
                    <i class="fa fa-eye"></i>
                    <b>#(r.clickCount)</b>
                </span>
		</div>
		<!-- .entry-meta -->
	</footer>
</article>
#else
<article class="post-62 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-notes tag-hadoop">
	<div style="font-size: 18px;">
		Not any information was querying
	</div>
</article>
#end
<!-- #post-## -->

<!-- 分页 -->
#@paginate(blogs.pageNumber, blogs.totalPage, "/")
#end