
.list-item {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 16px;
    padding-bottom: 16px;
}

.content-mata {
    margin-bottom: 16px;
}

.content-mata .title {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .85);
    font-size: 16px;
    line-height: 24px;
}

.content-mata .description {
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    line-height: 22px;
}

.list-content .description {
    max-width: 720px;
    line-height: 22px;
}

.list-content .extra {
    margin-top: 16px;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}

.list-content .extra .avatar-image{

}

.avatar-image img{
    position: relative;
    top: 1px;
    margin-right: 8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.tag {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .65);
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-block;
    height: auto;
    margin: 0 8px 0 0;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: default;
    opacity: 1;
    transition: all .3s cubic-bezier(.78, .14, .15, .86);
}


.action {
    margin-top: 16px;
    margin-left: auto;
}

.action li:first-child{
    padding-left: 0;
}

.action li{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}