#@adminLayout()

#define main()
### 内容区域
<h2 class="page-header">Dashboard</h2>

<div class="row placeholders">
    #perm("/admin/account")
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/admin/account" class="fa fa-users fa-5x"></a>
        <h4><a href="/admin/account">#(accountProfile.total)</a></h4>
        <span class="text-muted">#(accountProfile.title )</span>
    </div>
    #end

    #perm("/admin/blog")
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/admin/blog" class="fa fa-book fa-5x"></a>
        <h4><a href="/admin/blog">#(blogProfile.total ??)</a></h4>
        <span class="text-muted">#(blogProfile.title ??)</span>
    </div>
    #end

    #permission("/admin/permission")
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/admin/permission" class="fa fa-unlock-alt fa-5x pointer"></a>
        <h4><a href="/admin/permission">#(permissionProfile.total)</a></h4>
        <span class="text-muted">#(permissionProfile.title)</span>
    </div>
    #end

    #permission("/admin/visitor")
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/admin/visitor" class="fa fa-recycle fa-5x"></a>
        <h4><a href="/admin/visitor">#(visitorProfile.total)</a></h4>
        <span class="text-muted">#(visitorProfile.title)</span>
    </div>
    #end
</div>
#end



