#@adminLayout()

#define main()
<div class="jfa-header-box" id="jfa-header-box">
	<div class="jfa-crumbs" id="jfa-crumbs">
		权限系统 / 访问管理
	</div>
	<div class="jfa-search-box"></div>
	#include("/view/_admin/common/_header_right.html")
</div>

### 内容区域
<div class="jfa-content-box" id="jfa-content-box">
	<div class="jfa-content" id="jfa-content">

		<div class="jfa-table-box margin-top-30">
			<table class="table table-bordered table-hover margin-bottom-10">
				<thead>
				<tr>
					<th>id</th>
					<th>IP</th>
					<th>访问地址</th>
					<th>客户端</th>
					<th>请求方法</th>
					<th>创建时间</th>
				</tr>
				</thead>
				<tbody>
				#for(x : visitorPage.getList())
				<tr>
					<th scope="row">#(x.id)</th>
					<td>#(x.ip)</td>
					<td>#(x.url)</td>
					<td>#(x.client)</td>
					<td>#(x.method)</td>
					<td>#date(x.requestTime)</td>
				</tr>
				#end
				</tbody>
			</table>

			<div>
				#@adminPaginate(visitorPage.pageNumber, visitorPage.totalPage, "/admin/visitor?p=")
			</div>
		</div>

	</div><!-- END OF jfa-content -->
</div><!-- END OF jfa-content-box -->

<script type="text/javascript">
</script>
#end

