html, body, .choxsu-body {
    height: 100% !important;
}

.choxsu-p-over {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* choxsu-style */
.choxsu-navbar {
    border-bottom: 1px solid #a6a7a9;
}

.choxsu-content {
    margin-top: 2rem
}

.choxsu-footer {
    font-size: 0.8rem;
    padding: 1.2rem 0;
    background-color: #fbfbfb;
}

.choxsu-footer p {
    /*text-align: center;*/
    margin-bottom: 0;
}

/* choxsu-style */


/* bootstrap update*/
.choxsu-body .navbar-light .navbar-nav .nav-link {
    color: #353232cf;
}

.choxsu-body .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(174, 21, 191, 0.81);
}

.choxsu-body .navbar-light .navbar-nav .active {
    color: #ae15bf !important;
}

.choxsu-body .list-group .list-group-item {
    border: 0 !important;
    padding: .75rem 0;
}

.choxsu-body .card {
    border: 0 !important;
}

.choxsu-body .card .card-header {
    padding: .5rem 0;
    background: none;
}

.choxsu-body .card .card-header span {
    border-bottom: 1px solid #333;
    padding-bottom: 0.6rem;
}

.choxsu-right-list .list-group-item {
    padding: .75rem 0;
}

/* bootstrap update*/


